body {
  background: #606060;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
  color: #0000CC;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

main h2 {
  color: #000099;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

main li {
  font-size: 1.3em;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: #000099;
}

main p {
  font-size: 1.1em;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: #006666;
}
main li.c1 {
  list-style: none; 
  display: inline;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

footer a {
  color: #000;
}